h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

button{
    display: none;
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 50%;
    left: 45%;
    width: 100px;
    height: 25px;
    color: black;
    background: orangered;
    font-size: auto;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition-delay: ease .2s;
}

button:hover{
    color: rgb(12, 12, 12);
    background: orangered;
    border-radius: 5px;
}
#canvas{
    border: 0.5rem solid orangered;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}